absl-py
altair
asttokens
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
distlib
executing
filelock
Flask
flatbuffers
fonttools
gast
gitdb
GitPython
google-pasta
grpcio
gunicorn
h5py
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
namex
nest-asyncio
numpy
opencv-python
opt-einsum
optree
packaging
pandas
parso
pickle-mixin
pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
setuptools
six
smmap
stack-data
streamlit
streamlit-option-menu
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
virtualenv
waitress
watchdog
wcwidth
Werkzeug
wheel
wrapt
xgboost
